@{
    ViewBag.Title = "Planejamento";

    string[] renderScripts = { "~/bundles/angular", "~/bundles/bsSelect/js", "~/bundles/cscPlanejamento" };
    string[] renderStyles = { "~/bundles/bsSelect/css" };
    ViewBag.Scripts = renderScripts;
    ViewBag.Styles = renderStyles;
    ViewBag.ReturnLink = "";
}

<div class="row rowConteudo" ng-app="cscPlanejamento">
    <div ui-view>
        <div class="container">
          <div class="row">
              <div class="col-xs-3">
                  @Html.Label("Label")
                  @Html.TextBox("Label", null, new { @class="form-control" })
              </div>
              <div class="col-xs-3">
                  @Html.Label("Label")
                  @Html.TextBox("Label", null, new { @class = "form-control" })
              </div>
              <div class="col-xs-3">
                  @Html.Label("Label")
                  @Html.TextBox("Label", null, new { @class = "form-control" })
              </div>
              <div class="col-xs-3">
                  @Html.Label("Label")
                  @Html.TextBox("Label", null, new { @class = "form-control" })
              </div>
          </div>
        </div>
    </div>
</div>
